.topbar-wrapper{
    height: 40px;
    width: 100%;
    background-color: #333333;
    line-height: 40px;
}
.service a{
    text-decoration: none;
    font-size: 12px;
    color: #B0B0B0;
}
.service,.topbar li{
    float: left;
}
.app{
    position: relative;
}
/*设置app下的小三角*/
/*.app-wrapper:hover>.app::after*/
.app::after{
    display: none;
    content: '';
    /**四个方向的边框*/
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
.app .qrcode{
    /*display: none;*/
    width: 124px;
    /*height: 148px;*/
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: -38px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    /*display: none;*/
    transition:height 3s;
}
/*transition用于样式设置过渡效果*/

.app .qrcode img{
    width: 90px;
    margin: 17px 17px 10px 17px;
}
.app .qrcode span{
    font-size: 14px;
    color: #000;
}
/*.app-wrapper:hover>.app .qrcode{*/
/*    display: block;*/
/*}*/
.shop-cart,.user-info{
    float: right;
}
.topbar a{
    font-size: 12px;
    color: #B0B0B0;
    display: block;
}
.topbar a:hover{
    color: rgb(255,255,255);
}
.shop-cart{
    margin-left: 26px;
}
.shop-cart a{
    width: 120px;
    background: #424242;
    height: 40px;
    text-align: center;
}
.shop-cart i{
    margin-right: 5px;
}
.shop-cart:hover a{
    background-color: #fff;
    color: rgb(255,103,0);
}
.shop-cart .iconfont{
    color: #B0B0B0;
}

li.line{
    width: 1px;
    height: 10px;
    background-color: #424242;
    line-height: 10px;
    /*margin-top: 15px;*/
    margin: 15px 8px 0 8px;
}
/*中部导航框*/
/*.center-nav-bar{*/
/*    width: 100%;*/
/*    height: 40px;*/
/*}*/
/*.center-nav-bar .nav-bar-contain{*/
/*    width: 1226px;*/
/*    height: 100px;*/
/*    line-height: 100px;*/
/*    !*background-color:red;*!*/
/*    margin: 0 auto;*/
/*}*/

/*.header-logo a>img{*/
/*    position: absolute;*/
/*    width: 55px;*/
/*    height: 55px;*/
/*    background-color: rgb(255,103,0);*/
/*    margin-top: 23px;*/
/*}*/
/*.header-nav .header-nav-ul{*/
/*    position: absolute;*/
/*    margin-left: 150px;*/
/*}*/
/*.header-nav .header-nav-ul a{*/
/*    font-size: 17px;*/
/*    color: #333333;*/
/*    margin: 0 7px;*/
/*}*/
/*.header-nav .header-nav-ul>li{*/
/*    float: left;*/
/*}*/
/*.header-nav .header-search{*/
/*    float: right;*/
/*}*/
